<footer class="footer">
  <small>
    <a href="https://twitter.com/sgnydn" target="_blank">twitter.com/sgnydn</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About", about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
    </ul> </nav>
</footer>